In [19]:
import pandas as pd

# Read Cost of Living CSV File and Begin Cleaning Data

In [20]:
# Read csv file
col_data_df = pd.read_csv('Resources/Cost_of_Living_Docs/cost_of_living.csv')
col_data_df.head()

,case_id,state_abv,county_fips,county,family,housing,food_monthly,transportation_monthly,healthcare_monthly,misc_monthly,...,healthcare_yearly,misc_yearly,childcare_yearly,taxes_yearly,total_yearly,median_family_income,num_counties_in_st,st_cost_rank,st_med_aff_rank,st_income_rank
0,1.0,AL,1001.0,Autauga County,1p0c,817.0,335.0,1110.0,510.0,408.0,...,"$6,120","$4,896",$0,"$7,488","$45,636","83,790",67.0,8.0,58.0,7.0
1,1.0,AL,1001.0,Autauga County,1p1c,1114.0,494.0,1365.0,756.0,570.0,...,"$9,072","$6,840","$6,240","$9,132","$66,960","83,790",67.0,8.0,58.0,7.0
2,1.0,AL,1001.0,Autauga County,1p2c,1114.0,723.0,1570.0,1003.0,651.0,...,"$12,036","$7,812","$12,144","$11,388","$84,252","83,790",67.0,8.0,58.0,7.0
3,1.0,AL,1001.0,Autauga County,1p3c,1416.0,966.0,1670.0,1249.0,843.0,...,"$14,988","$10,116","$13,956","$14,808","$102,492","83,790",67.0,8.0,58.0,7.0
4,1.0,AL,1001.0,Autauga County,1p4c,1416.0,1182.0,1742.0,1495.0,920.0,...,"$17,940","$11,040","$13,956","$17,688","$112,704","83,790",67.0,8.0,58.0,7.0

In [21]:
# Create a copy of the original DataFrame
col_data_df_copy = col_data_df.copy()

In [22]:
# Drop the 'county_fips', 'case_id', 'housing', 'food_monthly', 'transportation_monthly', 'healthcare_monthly', 'misc_monthly', 'childcare_monthly', 'taxes_monthly', 'total_monthly' columns from copy
col_data_df_copy = col_data_df_copy.drop(columns=['county_fips', 'case_id', 'housing', 'food_monthly', 'transportation_monthly', 'healthcare_monthly', 'misc_monthly', 'childcare_monthly', 'taxes_monthly', 'total_monthly'])

# Verify the column has been dropped
col_data_df_copy.head()

,state_abv,county,family,housing_yearly,food_yearly,transportation_yearly,healthcare_yearly,misc_yearly,childcare_yearly,taxes_yearly,total_yearly,median_family_income,num_counties_in_st,st_cost_rank,st_med_aff_rank,st_income_rank
0,AL,Autauga County,1p0c,"$9,804","$4,020","$13,320","$6,120","$4,896",$0,"$7,488","$45,636","83,790",67.0,8.0,58.0,7.0
1,AL,Autauga County,1p1c,"$13,368","$5,928","$16,380","$9,072","$6,840","$6,240","$9,132","$66,960","83,790",67.0,8.0,58.0,7.0
2,AL,Autauga County,1p2c,"$13,368","$8,676","$18,840","$12,036","$7,812","$12,144","$11,388","$84,252","83,790",67.0,8.0,58.0,7.0
3,AL,Autauga County,1p3c,"$16,992","$11,592","$20,040","$14,988","$10,116","$13,956","$14,808","$102,492","83,790",67.0,8.0,58.0,7.0
4,AL,Autauga County,1p4c,"$16,992","$14,184","$20,904","$17,940","$11,040","$13,956","$17,688","$112,704","83,790",67.0,8.0,58.0,7.0

In [23]:
col_data_df_copy.head(10)

,state_abv,county,family,housing_yearly,food_yearly,transportation_yearly,healthcare_yearly,misc_yearly,childcare_yearly,taxes_yearly,total_yearly,median_family_income,num_counties_in_st,st_cost_rank,st_med_aff_rank,st_income_rank
0,AL,Autauga County,1p0c,"$9,804","$4,020","$13,320","$6,120","$4,896",$0,"$7,488","$45,636","83,790",67.0,8.0,58.0,7.0
1,AL,Autauga County,1p1c,"$13,368","$5,928","$16,380","$9,072","$6,840","$6,240","$9,132","$66,960","83,790",67.0,8.0,58.0,7.0
2,AL,Autauga County,1p2c,"$13,368","$8,676","$18,840","$12,036","$7,812","$12,144","$11,388","$84,252","83,790",67.0,8.0,58.0,7.0
3,AL,Autauga County,1p3c,"$16,992","$11,592","$20,040","$14,988","$10,116","$13,956","$14,808","$102,492","83,790",67.0,8.0,58.0,7.0
4,AL,Autauga County,1p4c,"$16,992","$14,184","$20,904","$17,940","$11,040","$13,956","$17,688","$112,704","83,790",67.0,8.0,58.0,7.0
5,AL,Autauga County,2p0c,"$11,184","$7,380","$15,744","$12,240","$6,576",$0,"$9,408","$62,520","83,790",67.0,8.0,58.0,7.0
6,AL,Autauga County,2p1c,"$13,368","$9,180","$18,108","$15,192","$7,980","$6,240","$11,244","$81,336","83,790",67.0,8.0,58.0,7.0
7,AL,Autauga County,2p2c,"$13,368","$11,616","$19,248","$18,144","$8,844","$12,144","$12,144","$95,520","83,790",67.0,8.0,58.0,7.0
8,AL,Autauga County,2p3c,"$16,992","$14,196","$20,052","$21,108","$11,040","$13,956","$14,376","$111,708","83,790",67.0,8.0,58.0,7.0
9,AL,Autauga County,2p4c,"$16,992","$17,376","$20,700","$24,060","$12,168","$13,956","$17,052","$122,292","83,790",67.0,8.0,58.0,7.0

In [24]:
# Save the updated DataFrame to a new CSV file
col_data_df_copy.to_csv('Resources/Cost_of_Living_Docs/updated_col_data.csv', index=False)